<!DOCTYPE html>
<html lang="en">
{% extends "bootstrap/base.html" %}
{% block head %}
<meta charset="UTF-8">
<title>Personas en el Equipo de Desarrollo</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap core CSS -->
<link href="https://getbootstrap.com/docs/4.0/dist/css/bootstrap.min.css" rel="stylesheet">

<!-- Custom styles for this template -->
<link href="https://getbootstrap.com/docs/4.0/examples/pricing/pricing.css" rel="stylesheet">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css"
      integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">

<title>Starter Template for Bootstrap</title>
{% endblock %}
{% block body %}
{% block content %}
<div class="container">
    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <h1 class="display-4">Optimo Encontrado</h1>
        <p class="lead">La Distribucion Optima para dearrollar el proyecto deseado en {{sprints}} Sprints sera de la
            siguiente
            manera</p>
    </div>

    <div class="container">
        <div class="card-deck mb-3 text-center">
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">Desarrollador Senior</h4>
                </div>
                <div class="card-body">
                    <h1 class="card-title pricing-card-title">{{x1}}
                        <small class="text-muted"> necesarios</small>
                    </h1>
                    <ul class="list-unstyled mt-3 mb-4">
                        <li>{{seniorDevDeliver}} Puntos por Sprint</li>
                        <li>{{seniorDevCost}} /Sprint</li>
                    </ul>
                </div>
            </div>
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">Desarrollador Tecnico</h4>
                </div>
                <div class="card-body">
                    <h1 class="card-title pricing-card-title">{{x2}}
                        <small class="text-muted"> necesarios</small>
                    </h1>
                    <ul class="list-unstyled mt-3 mb-4">
                        <li>{{techDevDeliver}} Puntos por Sprint</li>
                        <li>{{techDevCost}} /Sprint</li>
                    </ul>
                </div>
            </div>
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">Desarrollador Junior</h4>
                </div>
                <div class="card-body">
                    <h1 class="card-title pricing-card-title">{{x3}}
                        <small class="text-muted"> necesarios</small>
                    </h1>
                    <ul class="list-unstyled mt-3 mb-4">
                        <li>{{juniorDevDeliver}} Puntos por Sprint</li>
                        <li>{{juniorDevCost}} /Sprint</li>
                    </ul>
                </div>
            </div>
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">Desarrollador Pasante</h4>
                </div>
                <div class="card-body">
                    <h1 class="card-title pricing-card-title">{{x4}}
                        <small class="text-muted"> necesarios</small>
                    </h1>
                    <ul class="list-unstyled mt-3 mb-4">
                        <li>{{internDevDeliver}} Puntos por Sprint</li>
                        <li>{{internDevCost}} /Sprint</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="card-deck mb-3 text-center">
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">Tester Senior</h4>
                </div>
                <div class="card-body">
                    <h1 class="card-title pricing-card-title">{{x5}}
                        <small class="text-muted"> necesarios</small>
                    </h1>
                    <ul class="list-unstyled mt-3 mb-4">
                        <li>{{seniorQADeliver}} Puntos por Sprint</li>
                        <li>{{seniorQACost}} /Sprint</li>
                    </ul>
                </div>
            </div>
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">Tester Tecnico</h4>
                </div>
                <div class="card-body">
                    <h1 class="card-title pricing-card-title">{{x6}}
                        <small class="text-muted"> necesarios</small>
                    </h1>
                    <ul class="list-unstyled mt-3 mb-4">
                        <li>{{techQADeliver}} Puntos por Sprint</li>
                        <li>{{techQACost}} /Sprint</li>
                    </ul>
                </div>
            </div>
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">Tester Junior</h4>
                </div>
                <div class="card-body">
                    <h1 class="card-title pricing-card-title">{{x7}}
                        <small class="text-muted"> necesarios</small>
                    </h1>
                    <ul class="list-unstyled mt-3 mb-4">
                        <li>{{juniorQADeliver}} Puntos por Sprint</li>
                        <li>{{juniorQACost}} /Sprint</li>
                    </ul>
                </div>
            </div>
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">Tester Pasante</h4>
                </div>
                <div class="card-body">
                    <h1 class="card-title pricing-card-title">{{x8}}
                        <small class="text-muted"> necesarios</small>
                    </h1>
                    <ul class="list-unstyled mt-3 mb-4">
                        <li>{{internQADeliver}} Puntos por Sprint</li>
                        <li>{{internQACost}} /Sprint</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <button class="btn btn-primary btn-lg btn-block" type="submit" onclick="window.location='/DevTeamCost';">Analizar
        con Nuevos Datos
    </button>

    <footer class="my-5 pt-5 text-muted text-center text-small">
        <p class="mb-1">&copy; 2017-2018 Company Name</p>
        <ul class="list-inline">
            <li class="list-inline-item"><a href="#">Privacy</a></li>
            <li class="list-inline-item"><a href="#">Terms</a></li>
            <li class="list-inline-item"><a href="#">Support</a></li>
        </ul>
    </footer>
</div>
{% endblock %}
{% endblock %}
{% block scripts %}
<script>
    Holder.addTheme('thumb', {
        bg: '#55595c',
        fg: '#eceeef',
        text: 'Thumbnail'
    });
</script>
{% endblock %}
</html>

