<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>La distribucion optima del equipo sera:</title>
</head>
<body>

<div>Para {{sprints}} sprints, La distribucion optima del equipo sera:</div>

<form>
    <p>Cantidad de Desarrolladores Senior:</p>
    <p>{{x1}}</p>
    <p>Cantidad de Desarrolladores Tecnicos:</p>
    <p>{{x2}}</p>
    <p>Cantidad de Desarrolladores Junior:</p>
    <p>{{x3}}</p>
    <p>Cantidad de Desarrolladores Pasantes:</p>
    <p>{{x4}}</p>
    <p>Cantidad de Testers Senior:</p>
    <p>{{x5}}</p>
    <p>Cantidad de Testers Tecnicos:</p>
    <p>{{x6}}</p>
    <p>Cantidad de Testers Junior:</p>
    <p>{{x7}}</p>
    <p>Cantidad de Testers Pasantes:</p>
    <p>{{x8}}</p>
</form>
</body>
</html>