<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Personas en el Equipo de Calidad</title>
</head>
<body>

<div>Personas en el Equipo de Calidad</div>

<form method="post">
    <p>Puntos por Sprint</p>
    <input name="PSprint" type="number" min="0" required/>
    <p>Puntos totales en el proyecto</p>
    <input name="PProject" type="number" min="0" required/>
    <p>Presupuesto del proyecto</p>
    <input name="ProjectBudget" type="number" min="0" required/>
    <br>
    <input type="submit" value="Siguiente">
</form>
</body>
</html>