<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Puntos de entrega en el proyecto Calidad</title>
</head>
<body>

<div>Puntos de entrega en el proyecto Calidad</div>

<form method="post">
    <p>Puntos entregados por Tester Senior</p>
    <input name="PQsenior" type="number" min="0" required/>
    <p>Puntos entregados por Tester Tecnico</p>
    <input name="PQstandard" type="number" min="0" required/>
    <p>Puntos entregados por Tester Junior</p>
    <input name="PQjunior" type="number" min="0" required/>
    <p>Puntos entregados por Tester Pasante</p>
    <input name="PQintern" type="number" min="0" required/>
    <br>
    <input type="submit" value="Siguiente">
</form>
</body>
</html>