<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Puntos de entrega en el proyecto Desarrollo</title>
</head>
<body>

<div>Puntos de entrega en el proyecto Desarrollo</div>

<form method="post">
    <p>Puntos entregados por Desarrollador Senior</p>
    <input name="PDsenior" type="number" min="0" required/>
    <p>Puntos entregados por Desarrollador Tecnico</p>
    <input name="PDstandard" type="number" min="0" required/>
    <p>Puntos entregados por Desarrollador Junior</p>
    <input name="PDjunior" type="number" min="0" required/>
    <p>Puntos entregados por Desarrollador Pasante</p>
    <input name="PDintern" type="number" min="0" required/>
    <br>
    <input type="submit" value="Siguiente">
</form>
</body>
</html>