<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Personas en el Equipo de Desarrollo</title>
</head>
<body>

<div>Personas en el Equipo de Desarrollo</div>

<form method="post">
    <p>Cobro bisemanal de un desarrollador senior</p>
    <input name="Dsenior" type="number" min="0" required/>
    <p>Cobro bisemanal de un desarrollador tecnico</p>
    <input name="Dstandard" type="number" min="0" required/>
    <p>Cobro bisemanal de un desarrollador junior</p>
    <input name="Djunior" type="number" min="0" required/>
    <p>Cobro bisemanal de un desarrollador pasante</p>
    <input name="Dintern" type="number" min="0" required/>
    <br>
    <input type="submit" value="Siguiente">
</form>
</body>
</html>