<!DOCTYPE html>
<html lang="en">
{% extends "bootstrap/base.html" %}
{% block head %}
<meta charset="UTF-8">
<title>Personas en el Equipo de Desarrollo</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css"
      integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">

<title>Starter Template for Bootstrap</title>
{% endblock %}
{% block body %}
{% block content %}
<div class="container">
    <div class="py-5 text-center">
        <h2>Costo Monetario del Equipo de Desarrollo</h2>
        <p class="lead">En esta seccion se debe asignar el valor que cobran los desarrolladores por sprint</p>
    </div>

    <div class="row">
        <div class="col-md-8 order-md-1">
            <!--<h4 class="mb-3">Costo Monetario del Equipo de Desarrollo</h4>-->
            <form class="needs-validation" method="post">
                <label for="Dsenior">Cobro de un desarrollador senior</label>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">$</span>
                    </div>
                    <input name ="Dsenior" id="Dsenior" type="number" class="form-control" placeholder="" min=0 required>
                    <div class="invalid-feedback">
                        Campo Obligatorio
                    </div>
                    <div class="input-group-append">
                        <span class="input-group-text">.00</span>
                    </div>
                </div>

                <label for="Dstandard">Cobro de un desarrollador tecnico</label>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">$</span>
                    </div>
                    <input id="Dstandard" name="Dstandard" type="number" class="form-control" placeholder="" min=0 required>
                    <div class="invalid-feedback">
                        Campo Obligatorio
                    </div>
                    <div class="input-group-append">
                        <span class="input-group-text">.00</span>
                    </div>
                </div>

                <label for="Djunior">Cobro de un desarrollador junior</label>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">$</span>
                    </div>
                    <input id="Djunior" name="Djunior" type="number" class="form-control" placeholder="" min=0 required>
                    <div class="invalid-feedback">
                        Campo Obligatorio
                    </div>
                    <div class="input-group-append">
                        <span class="input-group-text">.00</span>
                    </div>
                </div>

                <label for="Dintern">Cobro de un desarrollador pasante</label>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">$</span>
                    </div>
                    <input id="Dintern" name="Dintern" type="number" class="form-control" placeholder="" min=0 required>
                    <div class="invalid-feedback">
                        Campo Obligatorio
                    </div>
                    <div class="input-group-append">
                        <span class="input-group-text">.00</span>
                    </div>
                </div>

                <button class="btn btn-primary btn-lg btn-block" type="submit">Siguiente Paso</button>
            </form>
        </div>
    </div>

    <footer class="my-5 pt-5 text-muted text-center text-small">
        <p class="mb-1">&copy; 2017-2018 Company Name</p>
        <ul class="list-inline">
            <li class="list-inline-item"><a href="#">Privacy</a></li>
            <li class="list-inline-item"><a href="#">Terms</a></li>
            <li class="list-inline-item"><a href="#">Support</a></li>
        </ul>
    </footer>
</div>
{% endblock %}
{% endblock %}
{% block scripts %}
<script>
    // Example starter JavaScript for disabling form submissions if there are invalid fields
    (function () {
        'use strict';

        window.addEventListener('load', function () {
            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.getElementsByClassName('needs-validation');

            // Loop over them and prevent submission
            var validation = Array.prototype.filter.call(forms, function (form) {
                form.addEventListener('submit', function (event) {
                    if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    form.classList.add('was-validated');
                }, false);
            });
        }, false);
    })();
</script>
{% endblock %}
</html>