<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Personas en el Equipo de Calidad</title>
</head>
<body>

<div>Personas en el Equipo de Calidad</div>

<form method="post">
    <p>Cobro bisemanal de un tester senior</p>
    <input name="Qsenior" type="number" min="0" required/>
    <p>Cobro bisemanal de un tester tecnico</p>
    <input name="Qstandard" type="number" min="0" required/>
    <p>Cobro bisemanal de un tester junior</p>
    <input name="Qjunior" type="number" min="0" required/>
    <p>Cobro bisemanal de un tester pasante</p>
    <input name="Qintern" type="number" min="0" required/>
    <br>
    <input type="submit" value="Siguiente">
</form>
</body>
</html>